In [1]:
#https://www.ers.usda.gov/data-products/county-level-data-sets/download-data/

In [2]:
import pandas as pd
import os

import numpy as np
import matplotlib.pyplot as plt  # To visualize
import pandas as pd  # To read data
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

# for progress_apply
from tqdm import tqdm
tqdm.pandas()

/Users/philip.ballentine/anaconda3/lib/python3.7/site-packages/tqdm/std.py:697: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [3]:
os.chdir(r'/Users/philip.ballentine/Downloads/')

In [4]:
os.getcwd()

'/Users/philip.ballentine/Downloads'

In [5]:
poverty_df = pd.read_excel("~/Downloads/PovertyEstimates.xls")

In [6]:
poverty_df.head()

,"Poverty estimates for the U.S., States, and counties, 2018",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,"Source: U.S. Census Bureau, Small Area Income ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"For definitions of rural classifications, see ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"This table was prepared by USDA, Economic Rese...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FIPStxt,Stabr,Area_name,Rural-urban_Continuum_Code_2003,Urban_Influence_Code_2003,Rural-urban_Continuum_Code_2013,Urban_Influence_Code_2013,POVALL_2018,CI90LBAll_2018,CI90UBALL_2018,...,CI90UB517P_2018,MEDHHINC_2018,CI90LBINC_2018,CI90UBINC_2018,POV04_2018,CI90LB04_2018,CI90UB04_2018,PCTPOV04_2018,CI90LB04P_2018,CI90UB04P_2018
4,00000,US,United States,NaN,NaN,NaN,NaN,41852315,41619366,42085264,...,17.2,61937,61843,62031,3758704,3714862,3802546,19.5,19.3,19.7

In [7]:
columns = list(poverty_df.iloc[3])
poverty_reshaped = poverty_df.drop([0, 1,2])
poverty_reshaped.columns = columns
poverty_reshaped = poverty_reshaped.drop([3])

In [8]:
poverty_reshaped.dtypes

FIPStxt                            object
Stabr                              object
Area_name                          object
Rural-urban_Continuum_Code_2003    object
Urban_Influence_Code_2003          object
Rural-urban_Continuum_Code_2013    object
Urban_Influence_Code_2013          object
POVALL_2018                        object
CI90LBAll_2018                     object
CI90UBALL_2018                     object
PCTPOVALL_2018                     object
CI90LBALLP_2018                    object
CI90UBALLP_2018                    object
POV017_2018                        object
CI90LB017_2018                     object
CI90UB017_2018                     object
PCTPOV017_2018                     object
CI90LB017P_2018                    object
CI90UB017P_2018                    object
POV517_2018                        object
CI90LB517_2018                     object
CI90UB517_2018                     object
PCTPOV517_2018                     object
CI90LB517P_2018                    object
CI90UB517P_2018                    object
MEDHHINC_2018                      object
CI90LBINC_2018                     object
CI90UBINC_2018                     object
POV04_2018                         object
CI90LB04_2018                      object
CI90UB04_2018                      object
PCTPOV04_2018                      object
CI90LB04P_2018                     object
CI90UB04P_2018                     object
dtype: object

In [9]:
poverty_reshaped_sub = poverty_reshaped[['FIPStxt','Stabr','Area_name','PCTPOVALL_2018','Urban_Influence_Code_2013','MEDHHINC_2018']]

In [10]:
poverty_reshaped_sub.rename(columns={'FIPStxt':'County_FIPS','Stabr':'StateCD','PCTPOVALL_2018':'Poverty_PCT_2018','Urban_Influence_Code_2013':'UrbanCD','MEDHHINC_2018':'Median_Income_2018'},inplace=True)

/Users/philip.ballentine/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [11]:
poverty_reshaped_sub.UrbanCD.fillna('UNK',inplace=True)

/Users/philip.ballentine/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:4523: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [12]:
poverty_reshaped_sub.describe()

,County_FIPS,StateCD,Area_name,Poverty_PCT_2018,UrbanCD,Median_Income_2018
count,3193,3193,3193,3193.0,3193,3193
unique,3193,52,1927,317.0,13,3081
top,18003,TX,Washington County,13.8,2,49356
freq,1,255,30,33.0,733,3

## Import Education Data

In [13]:
education_df = pd.read_excel("~/Downloads/Education.xls")

In [14]:
education_df

,County_FIPS,StateCD,Name,HS_DIPLOMA_ONLY_2018,SOME_COLLEGE_2018,BACHELORS_PLUS_2018
0,0,US,United States,27.1,29.0,31.5
1,1000,AL,Alabama,30.9,29.9,24.9
2,1001,AL,Autauga County,32.6,28.4,27.7
3,1003,AL,Baldwin County,27.6,31.3,31.3
4,1005,AL,Barbour County,35.7,25.1,12.2
...,...,...,...,...,...,...
3278,72145,PR,Vega Baja Municipio,23.0,25.2,20.7
3279,72147,PR,Vieques Municipio,37.3,17.0,20.6
3280,72149,PR,Villalba Municipio,36.7,18.7,20.1
3281,72151,PR,Yabucoa Municipio,25.0,26.3,18.6
3282,72153,PR,Yauco Municipio,31.5,16.1,24.6

In [15]:
poverty_reshaped_sub.County_FIPS = poverty_reshaped_sub.County_FIPS.astype("str")

/Users/philip.ballentine/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [16]:
import addfips
def lookup_location(locationstring):
    af = addfips.AddFIPS()
    try:
        namelist = locationstring.split('|')
        statename = namelist[1]
        countyname = namelist[0]
        fipscode = af.get_county_fips(countyname, state=statename)
        return str(fipscode)
    except:
        return '00000'

In [17]:
lookup_location("Broomfield|CO")
# check to see if leading zeroes preserved

'08014'

## Create Joinkey for join

In [18]:
education_df['locationstring'] = education_df['Name']+'|'+education_df['StateCD']

#create keycol

In [19]:
education_df['FIPS_LookedUp'] = education_df['locationstring'].progress_apply(lookup_location)

# look up the FIPS

100%|██████████| 3283/3283 [01:08<00:00, 48.20it/s]

In [20]:
education_df['FIPS_Coalesce'] = education_df.FIPS_LookedUp.combine_first(education_df.County_FIPS)

# coalesce FIPS

In [21]:
poverty_reshaped_sub['locationstring'] = poverty_reshaped_sub['Area_name']+'|'+poverty_reshaped_sub['StateCD']

#create keycol

/Users/philip.ballentine/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
poverty_reshaped_sub['FIPS_LookedUp'] = poverty_reshaped_sub['locationstring'].apply(lookup_location)

# look up the FIPS

/Users/philip.ballentine/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
poverty_reshaped_sub['FIPS_Coalesce'] = poverty_reshaped_sub.County_FIPS.combine_first(poverty_reshaped_sub.FIPS_LookedUp)

# coalesce FIPS

/Users/philip.ballentine/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
poverty_reshaped_sub['FIPS_Coalesce'] = poverty_reshaped_sub['FIPS_Coalesce'].astype("str")

/Users/philip.ballentine/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
poverty_reshaped_sub[poverty_reshaped_sub['StateCD'] == "CO"]

# check CO for the leading zero issue

,County_FIPS,StateCD,Area_name,Poverty_PCT_2018,UrbanCD,Median_Income_2018,locationstring,FIPS_LookedUp,FIPS_Coalesce
254,08000,CO,Colorado,9.7,UNK,71949,Colorado|CO,None,08000
255,08001,CO,Adams County,9.2,1,70199,Adams County|CO,08001,08001
256,08003,CO,Alamosa County,19.1,11,42897,Alamosa County|CO,08003,08003
257,08005,CO,Arapahoe County,8.1,1,76665,Arapahoe County|CO,08005,08005
258,08007,CO,Archuleta County,11.2,10,53337,Archuleta County|CO,08007,08007
...,...,...,...,...,...,...,...,...,...
314,08117,CO,Summit County,6.7,8,80078,Summit County|CO,08117,08117
315,08119,CO,Teller County,7.4,2,64850,Teller County|CO,08119,08119
316,08121,CO,Washington County,13.7,10,47869,Washington County|CO,08121,08121
317,08123,CO,Weld County,10.5,2,75629,Weld County|CO,08123,08123
318,08125,CO,Yuma County,12.1,11,53253,Yuma County|CO,08125,08125

In [26]:
education_df['FIPS_Coalesce'] = education_df['FIPS_Coalesce'].astype("str")

In [27]:
education_df[education_df['StateCD'] == "CO"]

# check CO for the leading zero issue

,County_FIPS,StateCD,Name,HS_DIPLOMA_ONLY_2018,SOME_COLLEGE_2018,BACHELORS_PLUS_2018,locationstring,FIPS_LookedUp,FIPS_Coalesce
257,8000,CO,Colorado,21.4,29.8,40.1,Colorado|CO,None,None
258,8001,CO,Adams County,28.4,31.0,23.6,Adams County|CO,08001,08001
259,8003,CO,Alamosa County,27.3,33.1,26.1,Alamosa County|CO,08003,08003
260,8005,CO,Arapahoe County,20.7,29.5,42.2,Arapahoe County|CO,08005,08005
261,8007,CO,Archuleta County,21.5,31.7,38.9,Archuleta County|CO,08007,08007
...,...,...,...,...,...,...,...,...,...
317,8117,CO,Summit County,19.0,23.3,51.0,Summit County|CO,08117,08117
318,8119,CO,Teller County,25.5,36.2,34.0,Teller County|CO,08119,08119
319,8121,CO,Washington County,32.0,44.3,16.2,Washington County|CO,08121,08121
320,8123,CO,Weld County,27.5,33.8,26.7,Weld County|CO,08123,08123
321,8125,CO,Yuma County,33.5,32.5,22.1,Yuma County|CO,08125,08125

## Merge Education and Poverty Datasets

In [28]:
e_p_df = education_df.merge(poverty_reshaped_sub, on="FIPS_Coalesce", how="outer")

#

In [29]:
e_p_df.columns

Index(['County_FIPS_x', 'StateCD_x', 'Name', 'HS_DIPLOMA_ONLY_2018',
       'SOME_COLLEGE_2018', 'BACHELORS_PLUS_2018', 'locationstring_x',
       'FIPS_LookedUp_x', 'FIPS_Coalesce', 'County_FIPS_y', 'StateCD_y',
       'Area_name', 'Poverty_PCT_2018', 'UrbanCD', 'Median_Income_2018',
       'locationstring_y', 'FIPS_LookedUp_y'],
      dtype='object')

In [30]:
e = e_p_df

In [31]:
problem1 = e[e['HS_DIPLOMA_ONLY_2018'].isna() ==True] # 334

In [32]:
problem = e[e['Median_Income_2018'].isna() ==True] # 414

In [33]:
problem.StateCD_x.value_counts()

PR    79
AK     8
VA     3
MT     2
IL     2
IN     1
DE     1
US     1
TN     1
VT     1
NM     1
CO     1
MO     1
HI     1
MN     1
CT     1
MI     1
WI     1
RI     1
MS     1
LA     1
PA     1
OR     1
NH     1
AZ     1
NC     1
MA     1
TX     1
KS     1
ME     1
GA     1
WY     1
KY     1
OH     1
FL     1
CA     1
NJ     1
NE     1
ND     1
WV     1
WA     1
AL     1
NV     1
SC     1
SD     1
MD     1
Name: StateCD_x, dtype: int64

In [34]:
problem1.StateCD_y.value_counts()

IL    2
CT    1
MS    1
LA    1
PA    1
OK    1
MI    1
NC    1
KS    1
DC    1
AZ    1
VT    1
WY    1
MT    1
ND    1
AR    1
TN    1
NY    1
NM    1
CO    1
IN    1
HI    1
RI    1
WI    1
OR    1
FL    1
KY    1
TX    1
MA    1
AL    1
ME    1
GA    1
SC    1
MN    1
UT    1
ID    1
VA    1
OH    1
US    1
CA    1
SD    1
WV    1
NE    1
IA    1
WA    1
MO    1
NV    1
MD    1
NJ    1
DE    1
NH    1
AK    1
Name: StateCD_y, dtype: int64

In [35]:
e_nona = e.dropna()

In [36]:
e_nona.columns

Index(['County_FIPS_x', 'StateCD_x', 'Name', 'HS_DIPLOMA_ONLY_2018',
       'SOME_COLLEGE_2018', 'BACHELORS_PLUS_2018', 'locationstring_x',
       'FIPS_LookedUp_x', 'FIPS_Coalesce', 'County_FIPS_y', 'StateCD_y',
       'Area_name', 'Poverty_PCT_2018', 'UrbanCD', 'Median_Income_2018',
       'locationstring_y', 'FIPS_LookedUp_y'],
      dtype='object')

## FINDING DUPLICATES (STATES MASQUERADING AS COUNTIES)

In [37]:
e_vc = pd.DataFrame(e_nona.FIPS_Coalesce.value_counts()).reset_index()

In [38]:
dup = e_vc[e_vc.FIPS_Coalesce > 1]
dup

   index  FIPS_Coalesce
0  15001              2
1  16049              2
2  05001              2
3  40109              2
4  19095              2
5  49049              2
6  11001              2
7  36061              2

In [39]:
list_dups = list(dup['index'])
#list_dups.remove('05001')
list_dups

['15001', '16049', '05001', '40109', '19095', '49049', '11001', '36061']

In [40]:
# Take rows without any dups
clean_values = e_nona[e_nona.FIPS_LookedUp_x.isin(list_dups) == False]

In [41]:
# Take rows with dups
dup_values = e_nona[e_nona.FIPS_Coalesce.isin(list_dups) == True]

In [42]:
dup_values.sort_values(by="StateCD_x")

,County_FIPS_x,StateCD_x,Name,HS_DIPLOMA_ONLY_2018,SOME_COLLEGE_2018,BACHELORS_PLUS_2018,locationstring_x,FIPS_LookedUp_x,FIPS_Coalesce,County_FIPS_y,StateCD_y,Area_name,Poverty_PCT_2018,UrbanCD,Median_Income_2018,locationstring_y,FIPS_LookedUp_y
166,5000.0,AR,Arkansas,34.1,29.5,22.6,Arkansas|AR,05001,05001,05001,AR,Arkansas County,17.9,6,43887,Arkansas County|AR,05001
167,5001.0,AR,Arkansas County,38.3,29.2,15.5,Arkansas County|AR,05001,05001,05001,AR,Arkansas County,17.9,6,43887,Arkansas County|AR,05001
375,11000.0,DC,District of Columbia,17.2,15.9,57.6,District of Columbia|DC,11001,11001,11001,DC,District of Columbia,16.1,1,82533,District of Columbia|DC,11001
376,11001.0,DC,District of Columbia,17.2,15.9,57.6,District of Columbia|DC,11001,11001,11001,DC,District of Columbia,16.1,1,82533,District of Columbia|DC,11001
603,15000.0,HI,Hawaii,27.7,31.7,32.5,Hawaii|HI,15001,15001,15001,HI,Hawaii County,15.6,8,56383,Hawaii County|HI,15001
604,15001.0,HI,Hawaii County,30.4,32.5,29.5,Hawaii County|HI,15001,15001,15001,HI,Hawaii County,15.6,8,56383,Hawaii County|HI,15001
847,19000.0,IA,Iowa,31.1,32.6,28.2,Iowa|IA,19095,19095,19095,IA,Iowa County,7.4,6,64188,Iowa County|IA,19095
848,19095.0,IA,Iowa County,37.7,37.0,19.1,Iowa County|IA,19095,19095,19095,IA,Iowa County,7.4,6,64188,Iowa County|IA,19095
609,16000.0,ID,Idaho,27.7,35.9,26.9,Idaho|ID,16049,16049,16049,ID,Idaho County,16.2,6,40569,Idaho County|ID,16049
610,16049.0,ID,Idaho County,35.1,35.3,20.2,Idaho County|ID,16049,16049,16049,ID,Idaho County,16.2,6,40569,Idaho County|ID,16049
1887,36000.0,NY,New York,26.1,24.4,35.9,New York|NY,36061,36061,36061,NY,New York County,15.6,1,84610,New York County|NY,36061
1888,36061.0,NY,New York County,12.4,13.7,60.8,New York County|NY,36061,36061,36061,NY,New York County,15.6,1,84610,New York County|NY,36061
2191,40000.0,OK,Oklahoma,31.3,31.3,25.2,Oklahoma|OK,40109,40109,40109,OK,Oklahoma County,16.9,1,52346,Oklahoma County|OK,40109
2192,40109.0,OK,Oklahoma County,25.3,30.1,31.8,Oklahoma County|OK,40109,40109,40109,OK,Oklahoma County,16.9,1,52346,Oklahoma County|OK,40109
2838,49000.0,UT,Utah,22.9,35.8,33.3,Utah|UT,49049,49049,49049,UT,Utah County,9.4,2,75296,Utah County|UT,49049
2839,49049.0,UT,Utah County,16.3,37.8,40.1,Utah County|UT,49049,49049,49049,UT,Utah County,9.4,2,75296,Utah County|UT,49049

In [43]:
def remove_non_county(x):
    if "County" not in x:
        return "Statelevel"
    else:
        return "Countylevel"

In [44]:
# Remove the states masquerading as counties
dup_values_countiesonly = dup_values[dup_values['locationstring_x'].apply(remove_non_county) == "Countylevel"]

In [45]:
dup_values_countiesonly

,County_FIPS_x,StateCD_x,Name,HS_DIPLOMA_ONLY_2018,SOME_COLLEGE_2018,BACHELORS_PLUS_2018,locationstring_x,FIPS_LookedUp_x,FIPS_Coalesce,County_FIPS_y,StateCD_y,Area_name,Poverty_PCT_2018,UrbanCD,Median_Income_2018,locationstring_y,FIPS_LookedUp_y
167,5001.0,AR,Arkansas County,38.3,29.2,15.5,Arkansas County|AR,05001,05001,05001,AR,Arkansas County,17.9,6,43887,Arkansas County|AR,05001
604,15001.0,HI,Hawaii County,30.4,32.5,29.5,Hawaii County|HI,15001,15001,15001,HI,Hawaii County,15.6,8,56383,Hawaii County|HI,15001
610,16049.0,ID,Idaho County,35.1,35.3,20.2,Idaho County|ID,16049,16049,16049,ID,Idaho County,16.2,6,40569,Idaho County|ID,16049
848,19095.0,IA,Iowa County,37.7,37.0,19.1,Iowa County|IA,19095,19095,19095,IA,Iowa County,7.4,6,64188,Iowa County|IA,19095
1888,36061.0,NY,New York County,12.4,13.7,60.8,New York County|NY,36061,36061,36061,NY,New York County,15.6,1,84610,New York County|NY,36061
2192,40109.0,OK,Oklahoma County,25.3,30.1,31.8,Oklahoma County|OK,40109,40109,40109,OK,Oklahoma County,16.9,1,52346,Oklahoma County|OK,40109
2839,49049.0,UT,Utah County,16.3,37.8,40.1,Utah County|UT,49049,49049,49049,UT,Utah County,9.4,2,75296,Utah County|UT,49049

In [46]:
# Replace the looked up FIPS with the original FIPS for dups ,fixes all but AR which has leading zero issue
dup_values['FIPS_Coalesce'] = dup_values['FIPS_LookedUp_x']

/Users/philip.ballentine/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [47]:
# Recombine
cleaned_table = pd.concat([clean_values,dup_values_countiesonly])

In [48]:
# Check for dups again
dupcheck = pd.DataFrame(cleaned_table.FIPS_Coalesce.value_counts()).reset_index()

In [49]:
dupcheck[dupcheck['FIPS_Coalesce']>1]

Empty DataFrame
Columns: [index, FIPS_Coalesce]
Index: []

In [50]:
cleaned_table['len'] = cleaned_table['FIPS_Coalesce'].str.len()

In [51]:
cleaned_table[cleaned_table['FIPS_Coalesce'].str.len() != 5]

Empty DataFrame
Columns: [County_FIPS_x, StateCD_x, Name, HS_DIPLOMA_ONLY_2018, SOME_COLLEGE_2018, BACHELORS_PLUS_2018, locationstring_x, FIPS_LookedUp_x, FIPS_Coalesce, County_FIPS_y, StateCD_y, Area_name, Poverty_PCT_2018, UrbanCD, Median_Income_2018, locationstring_y, FIPS_LookedUp_y, len]
Index: []

In [52]:
#cleaned_table['FIPS_Coalesce'] = cleaned_table['FIPS_Coalesce'].str.replace(r'\b5001\b','05001')

In [53]:
#pd.Series('5001').str.replace(r'\b5001\b','05001')

In [54]:
# Check Arkansas for leading zero
cleaned_table[cleaned_table.FIPS_Coalesce == '05001']

,County_FIPS_x,StateCD_x,Name,HS_DIPLOMA_ONLY_2018,SOME_COLLEGE_2018,BACHELORS_PLUS_2018,locationstring_x,FIPS_LookedUp_x,FIPS_Coalesce,County_FIPS_y,StateCD_y,Area_name,Poverty_PCT_2018,UrbanCD,Median_Income_2018,locationstring_y,FIPS_LookedUp_y,len
167,5001.0,AR,Arkansas County,38.3,29.2,15.5,Arkansas County|AR,05001,05001,05001,AR,Arkansas County,17.9,6,43887,Arkansas County|AR,05001,5

In [55]:
colslist = ['FIPS_Coalesce','StateCD_y','Name','HS_DIPLOMA_ONLY_2018',
 'SOME_COLLEGE_2018','BACHELORS_PLUS_2018','Poverty_PCT_2018',
 'UrbanCD','Median_Income_2018']

In [56]:
# subset to just these columns 
cleaned_table_sub = cleaned_table[colslist]

In [57]:
cleaned_table_sub.rename(columns={'FIPS_Coalesce':'County_FIPS','StateCD_y':'StateCD'}, inplace=True)

/Users/philip.ballentine/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [58]:
cleaned_table_sub.reset_index(inplace=True, drop=True)

In [59]:
cleaned_table_sub.dtypes

County_FIPS              object
StateCD                  object
Name                     object
HS_DIPLOMA_ONLY_2018    float64
SOME_COLLEGE_2018       float64
BACHELORS_PLUS_2018     float64
Poverty_PCT_2018         object
UrbanCD                  object
Median_Income_2018       object
dtype: object

In [60]:
cleaned_table_sub['Median_Income_2018'] = cleaned_table_sub['Median_Income_2018'].astype("float64")

/Users/philip.ballentine/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [61]:
cleaned_table_sub['Poverty_PCT_2018'] = cleaned_table_sub['Poverty_PCT_2018'].astype("float64")

/Users/philip.ballentine/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [62]:
cleaned_table_sub.columns

Index(['County_FIPS', 'StateCD', 'Name', 'HS_DIPLOMA_ONLY_2018',
       'SOME_COLLEGE_2018', 'BACHELORS_PLUS_2018', 'Poverty_PCT_2018',
       'UrbanCD', 'Median_Income_2018'],
      dtype='object')

## Get the Items from Census by FIPS code

In [63]:
# https://pypi.org/project/census/


from census import Census
from us import states

# Test
c = Census("3849978012ed677b69607fe6ce07f38d261a4244")
c.acs5.get(('NAME', 'B25034_010E'),
          {'for': 'state:{}'.format(states.MD.fips)})

[{'NAME': 'Maryland', 'B25034_010E': 129556.0, 'state': '24'}]

## Use Census API for Population Data

In [64]:
# census api : https://api.census.gov/data/2016/acs/acs5/groups/B01003/
# population :  'B01003_001E'

def look_up_census_pop_from_fips(county_fips):
    item_id = 'B01003_001E' # Total Population
    try:
        sf = county_fips[0:2]
        cf = county_fips[2:6]
        population_info = c.acs5.state_county((item_id), state_fips='{sf}'.format(sf=sf), county_fips='{cf}'.format(cf=cf))
        #return (sf, cf) 
        return population_info[0][item_id] 
    except:
        return np.NaN

In [65]:
cleaned_table_sub['Population_ACS'] = cleaned_table_sub['County_FIPS'].progress_apply(look_up_census_pop_from_fips)

100%|██████████| 3139/3139 [39:44<00:00,  1.32it/s]
/Users/philip.ballentine/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [66]:
cleaned_table_sub

,County_FIPS,StateCD,Name,HS_DIPLOMA_ONLY_2018,SOME_COLLEGE_2018,BACHELORS_PLUS_2018,Poverty_PCT_2018,UrbanCD,Median_Income_2018,Population_ACS
0,01001,AL,Autauga County,32.6,28.4,27.7,13.8,2,59338.0,55036.0
1,01003,AL,Baldwin County,27.6,31.3,31.3,9.8,2,57588.0,203360.0
2,01005,AL,Barbour County,35.7,25.1,12.2,30.9,6,34382.0,26201.0
3,01007,AL,Bibb County,47.3,24.4,11.5,21.8,1,46064.0,22580.0
4,01009,AL,Blount County,34.0,33.5,12.6,13.2,1,50412.0,57667.0
...,...,...,...,...,...,...,...,...,...,...
3134,16049,ID,Idaho County,35.1,35.3,20.2,16.2,6,40569.0,16275.0
3135,19095,IA,Iowa County,37.7,37.0,19.1,7.4,6,64188.0,16231.0
3136,36061,NY,New York County,12.4,13.7,60.8,15.6,1,84610.0,1653877.0
3137,40109,OK,Oklahoma County,25.3,30.1,31.8,16.9,1,52346.0,774203.0
3138,49049,UT,Utah County,16.3,37.8,40.1,9.4,2,75296.0,576496.0

In [67]:
cleaned_table_sub['Population_ACS'].isna().value_counts()

False    3139
Name: Population_ACS, dtype: int64

In [68]:
# census api : https://api.census.gov/data/2016/acs/acs5/groups/B01003/
# https://api.census.gov/data/2016/acs/acs5/variables.html
# population :  'B01003_001E'

def look_up_census_black_pop_from_fips(county_fips):
    item_id = 'B02001_003E' # Total Black population
    try:
        sf = county_fips[0:2]
        cf = county_fips[2:6]
        population_info = c.acs5.state_county((item_id), state_fips='{sf}'.format(sf=sf), county_fips='{cf}'.format(cf=cf))
        #return (sf, cf) 
        return population_info[0][item_id] 
    except:
        return np.NaN

In [69]:
cleaned_table_sub['Population_Black_ACS'] = cleaned_table_sub['County_FIPS'].progress_apply(look_up_census_black_pop_from_fips)

100%|██████████| 3139/3139 [38:14<00:00,  1.37it/s]
/Users/philip.ballentine/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [70]:
# https://api.census.gov/data/2016/acs/acs5/variables/B03001_003E.json
# https://api.census.gov/data/2016/acs/acs5/variables.html

def look_up_census_hisp_pop_from_fips(county_fips):
    item_id = 'B03001_003E' # Total Black population
    try:
        sf = county_fips[0:2]
        cf = county_fips[2:6]
        population_info = c.acs5.state_county((item_id), state_fips='{sf}'.format(sf=sf), county_fips='{cf}'.format(cf=cf))
        #return (sf, cf) 
        return population_info[0][item_id] 
    except:
        return np.NaN

In [71]:
cleaned_table_sub['Population_Hisp_ACS'] = cleaned_table_sub['County_FIPS'].progress_apply(look_up_census_hisp_pop_from_fips)

100%|██████████| 3139/3139 [39:44<00:00,  1.32it/s]
/Users/philip.ballentine/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [72]:
# https://api.census.gov/data/2016/acs/acs5/variables/B03001_003E.json
# https://api.census.gov/data/2016/acs/acs5/variables.html

def look_up_census_native_pop_from_fips(county_fips):
    item_id = 'B01001C_001E' # Total American Indian / Alaska Native population
    try:
        sf = county_fips[0:2]
        cf = county_fips[2:6]
        population_info = c.acs5.state_county((item_id), state_fips='{sf}'.format(sf=sf), county_fips='{cf}'.format(cf=cf))
        #return (sf, cf) 
        return population_info[0][item_id] 
    except:
        return np.NaN

In [73]:
cleaned_table_sub['Population_Native_ACS'] = cleaned_table_sub['County_FIPS'].progress_apply(look_up_census_native_pop_from_fips)

100%|██████████| 3139/3139 [43:29<00:00,  1.20it/s]
/Users/philip.ballentine/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [74]:
cleaned_table_sub.columns

Index(['County_FIPS', 'StateCD', 'Name', 'HS_DIPLOMA_ONLY_2018',
       'SOME_COLLEGE_2018', 'BACHELORS_PLUS_2018', 'Poverty_PCT_2018',
       'UrbanCD', 'Median_Income_2018', 'Population_ACS',
       'Population_Black_ACS', 'Population_Hisp_ACS', 'Population_Native_ACS'],
      dtype='object')

In [75]:
cleaned_table_sub['PCT_Black_ACS'] = 100*(cleaned_table_sub['Population_Black_ACS']/cleaned_table_sub['Population_ACS'])

/Users/philip.ballentine/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [76]:
cleaned_table_sub['PCT_Hisp_ACS'] = 100*(cleaned_table_sub['Population_Hisp_ACS']/cleaned_table_sub['Population_ACS'])

/Users/philip.ballentine/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [77]:
cleaned_table_sub['PCT_Native_ACS'] = 100*(cleaned_table_sub['Population_Native_ACS']/cleaned_table_sub['Population_ACS'])

/Users/philip.ballentine/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## Get Descriptions for the Urban Codes

In [80]:
#https://www.ers.usda.gov/data-products/urban-influence-codes/documentation.aspx
rural_urban = pd.read_html("https://www.ers.usda.gov/data-products/urban-influence-codes/documentation.aspx")
rural_urban_frame = rural_urban[0]
goodlist = [str(i) for i in range(0,15)] # filter out the descriptor fields 
rural_urban_frame = rural_urban_frame[rural_urban_frame.Code.isin(goodlist)]
rural_urban_frame = rural_urban_frame[['Code','Description']]
rural_urban_frame.columns = ['UrbanCD','UrbanCD_Description']

In [81]:
cleaned_table_sub

,County_FIPS,StateCD,Name,HS_DIPLOMA_ONLY_2018,SOME_COLLEGE_2018,BACHELORS_PLUS_2018,Poverty_PCT_2018,UrbanCD,Median_Income_2018,Population_ACS,Population_Black_ACS,Population_Hisp_ACS,Population_Native_ACS,PCT_Black_ACS,PCT_Hisp_ACS,PCT_Native_ACS
0,01001,AL,Autauga County,32.6,28.4,27.7,13.8,2,59338.0,55036.0,10510.0,1467.0,169.0,19.096591,2.665528,0.307072
1,01003,AL,Baldwin County,27.6,31.3,31.3,9.8,2,57588.0,203360.0,19414.0,9029.0,1668.0,9.546617,4.439910,0.820220
2,01005,AL,Barbour County,35.7,25.1,12.2,30.9,6,34382.0,26201.0,12588.0,1104.0,54.0,48.043968,4.213580,0.206099
3,01007,AL,Bibb County,47.3,24.4,11.5,21.8,1,46064.0,22580.0,4979.0,531.0,82.0,22.050487,2.351639,0.363153
4,01009,AL,Blount County,34.0,33.5,12.6,13.2,1,50412.0,57667.0,915.0,5197.0,212.0,1.586696,9.012087,0.367628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3134,16049,ID,Idaho County,35.1,35.3,20.2,16.2,6,40569.0,16275.0,36.0,523.0,524.0,0.221198,3.213518,3.219662
3135,19095,IA,Iowa County,37.7,37.0,19.1,7.4,6,64188.0,16231.0,131.0,401.0,4.0,0.807098,2.470581,0.024644
3136,36061,NY,New York County,12.4,13.7,60.8,15.6,1,84610.0,1653877.0,246603.0,431249.0,6035.0,14.910601,26.075035,0.364900
3137,40109,OK,Oklahoma County,25.3,30.1,31.8,16.9,1,52346.0,774203.0,116174.0,130090.0,21605.0,15.005625,16.803087,2.790612
3138,49049,UT,Utah County,16.3,37.8,40.1,9.4,2,75296.0,576496.0,3434.0,65539.0,2906.0,0.595668,11.368509,0.504080

In [82]:
cleaned_table_sub['UrbanCD'] = cleaned_table_sub['UrbanCD'].astype("str")

/Users/philip.ballentine/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [83]:
cleaned_table_sub_rural_urban = cleaned_table_sub.merge(rural_urban_frame, on="UrbanCD")

In [84]:
rural_urban_frame

   UrbanCD                                UrbanCD_Description
1        1        In large metro area of 1+ million residents
2        2  In small metro area of less than 1 million res...
4        3     Micropolitan area adjacent to large metro area
5        4               Noncore adjacent to large metro area
6        5     Micropolitan area adjacent to small metro area
7        6  Noncore adjacent to small metro area and conta...
8        7  Noncore adjacent to small metro area and does ...
9        8     Micropolitan area not adjacent to a metro area
10       9  Noncore adjacent to micro area and contains a ...
11      10  Noncore adjacent to micro area and does not co...
12      11  Noncore not adjacent to metro or micro area an...
13      12  Noncore not adjacent to metro or micro area an...

In [85]:
cleaned_table_sub_rural_urban.UrbanCD_Description.value_counts()

In small metro area of less than 1 million residents                                                   733
In large metro area of 1+ million residents                                                            431
Noncore adjacent to small metro area and contains a town of at least 2,500 residents                   344
Micropolitan area not adjacent to a metro area                                                         269
Micropolitan area adjacent to small metro area                                                         242
Noncore adjacent to micro area and does not contain a town of at least 2,500 residents                 189
Noncore adjacent to micro area and contains a town of at least 2,500 residents                         184
Noncore not adjacent to metro or micro area and does not contain a town of at least 2,500 residents    182
Noncore adjacent to small metro area and does not contain a town of at least 2,500 residents           162
Noncore adjacent to large metro area                                                                   149
Micropolitan area adjacent to large metro area                                                         129
Noncore not adjacent to metro or micro area and contains a town of at least 2,500 residents            125
Name: UrbanCD_Description, dtype: int64

In [86]:
def discern_metro(x):
    if float(x) >= 1 and float(x) <=12:
        x = int(x)
        if x == 1:
            return 'Large_metro' # over 1 mil 
        if x == 2:
            return 'Smaller_metro' # under 1 mil
        if x in [3,5,8]:
            return 'Micropolitan'
        if x in [4,6,7,10]:
            return 'Noncore_adjacent' # Non-metro areas but near metro area, some commuting
        if x in [11,12]:
            return 'Noncore_remote'
    else:
        return np.NaN

In [87]:
cleaned_table_sub_rural_urban['Metro'] = cleaned_table_sub_rural_urban['UrbanCD'].progress_apply(discern_metro)

100%|██████████| 3139/3139 [00:00<00:00, 433917.35it/s]

In [88]:
cleaned_table_sub_rural_urban.Metro.value_counts()

Noncore_adjacent    844
Smaller_metro       733
Micropolitan        640
Large_metro         431
Noncore_remote      307
Name: Metro, dtype: int64

In [89]:
samp = cleaned_table_sub_rural_urban.sample(frac=.05)#[.Metro.value_counts()]

## Export to File

In [93]:
import os
#/Users/philip.ballentine/Documents/hia_covid_repo/hia_covid_data_assets/covid_dataset_sample.csv

os.chdir(r'/Users/philip.ballentine/Documents/hia_covid_repo/hia_covid_data_assets/')
path = str(os.getcwd())
filename = "counties_dataset_full_20201121_5.csv"
cleaned_table_sub_rural_urban.to_csv(filename) # un-comment to actually create new file
print("{filename} has been created in {path}".format(filename=filename, path=path))

counties_dataset_full_20201121_5.csv has been created in /Users/philip.ballentine/Documents/hia_covid_repo/hia_covid_data_assets

In [92]:
samp[samp.Metro=="Large_metro"]

,County_FIPS,StateCD,Name,HS_DIPLOMA_ONLY_2018,SOME_COLLEGE_2018,BACHELORS_PLUS_2018,Poverty_PCT_2018,UrbanCD,Median_Income_2018,Population_ACS,Population_Black_ACS,Population_Hisp_ACS,Population_Native_ACS,PCT_Black_ACS,PCT_Hisp_ACS,PCT_Native_ACS,UrbanCD_Description,Metro
1274,29025,MO,Caldwell County,43.2,28.7,18.3,14.4,1,47591.0,9046.0,46.0,188.0,44.0,0.508512,2.078267,0.486403,In large metro area of 1+ million residents,Large_metro
1165,17031,IL,Cook County,23.3,25.4,38.0,13.8,1,63347.0,5238541.0,1242179.0,1312304.0,13972.0,23.712308,25.050945,0.266715,In large metro area of 1+ million residents,Large_metro
1353,39103,OH,Medina County,31.6,30.0,33.3,6.5,1,76475.0,176362.0,2682.0,3435.0,242.0,1.520736,1.947698,0.137218,In large metro area of 1+ million residents,Large_metro
1139,13067,GA,Cobb County,18.7,26.6,46.5,9.1,1,78603.0,739072.0,200534.0,94405.0,1656.0,27.133216,12.773451,0.224065,In large metro area of 1+ million residents,Large_metro
1123,12069,FL,Lake County,32.9,33.7,22.7,11.5,1,52447.0,326215.0,33458.0,47009.0,1234.0,10.256426,14.410435,0.378278,In large metro area of 1+ million residents,Large_metro
1341,39025,OH,Clermont County,33.0,29.2,28.0,8.2,1,65280.0,202166.0,2897.0,3622.0,400.0,1.432981,1.791597,0.197857,In large metro area of 1+ million residents,Large_metro
1204,20107,KS,Linn County,38.5,34.5,16.0,12.9,1,47153.0,9602.0,78.0,247.0,105.0,0.812331,2.572381,1.093522,In large metro area of 1+ million residents,Large_metro
1125,12089,FL,Nassau County,32.7,30.4,28.2,10.4,1,66898.0,78435.0,4913.0,2979.0,310.0,6.263785,3.798049,0.395232,In large metro area of 1+ million residents,Large_metro
1375,42029,PA,Chester County,21.4,20.0,51.8,6.7,1,99224.0,514652.0,30201.0,37264.0,638.0,5.868237,7.240621,0.123967,In large metro area of 1+ million residents,Large_metro
1159,13247,GA,Rockdale County,31.5,30.2,26.5,13.2,1,59673.0,88482.0,45865.0,9030.0,105.0,51.835402,10.205466,0.118668,In large metro area of 1+ million residents,Large_metro
1152,13171,GA,Lamar County,40.1,29.5,17.1,17.3,1,48323.0,18282.0,5293.0,415.0,16.0,28.951975,2.269992,0.087518,In large metro area of 1+ million residents,Large_metro
1124,12086,FL,Miami-Dade County,27.7,24.9,28.8,16.0,1,52043.0,2702602.0,485602.0,1823038.0,4040.0,17.967943,67.454919,0.149486,In large metro area of 1+ million residents,Large_metro
1086,05035,AR,Crittenden County,35.0,29.4,18.0,19.2,1,42606.0,49278.0,24164.0,1177.0,141.0,49.036081,2.388490,0.286132,In large metro area of 1+ million residents,Large_metro
1180,18013,IN,Brown County,32.6,31.2,27.4,10.1,1,60944.0,15007.0,80.0,243.0,0.0,0.533085,1.619244,0.000000,In large metro area of 1+ million residents,Large_metro
1310,36029,NY,Erie County,27.7,30.0,33.7,13.7,1,56375.0,923995.0,124101.0,48102.0,4533.0,13.430917,5.205872,0.490587,In large metro area of 1+ million residents,Large_metro
1231,24009,MD,Calvert County,30.3,32.4,31.1,5.4,1,106270.0,90824.0,10797.0,3276.0,150.0,11.887827,3.606976,0.165155,In large metro area of 1+ million residents,Large_metro
1243,25009,MA,Essex County,25.2,24.7,39.4,10.7,1,76373.0,775860.0,31374.0,152189.0,1717.0,4.043771,19.615523,0.221303,In large metro area of 1+ million residents,Large_metro
1210,21037,KY,Campbell County,29.9,27.3,33.5,13.1,1,60904.0,91804.0,2919.0,1765.0,41.0,3.179600,1.922574,0.044660,In large metro area of 1+ million residents,Large_metro
1089,06017,CA,El Dorado County,21.2,38.2,33.7,8.1,1,81869.0,185015.0,1789.0,23279.0,1347.0,0.966949,12.582223,0.728049,In large metro area of 1+ million residents,Large_metro